    <html>
    <head>    </head>
    <body>

		<header>
			<div>
				<ul >
					<li >
						<a asp-controller="User" asp-action="Index">Ciclo de Vida</a>
					</li>
				</ul>
			</div>
		</header>
    </body>
    </html>
